@page "/dashboard"

@using System.Collections.Generic
@using Domain.Models
@using Infrastructure.Persistence

@inject AppDbContext AppDbContext

<div class="_dashboard">
<table>
    <tr>
        <th>Order</th>
        <th>Mobil</th>
        <th>Nama</th>
        <th>Contact</th>
        <th>KTP</th>
        <th>Tanggal Pengambilan</th>
        <th>Tanggal Pengembalian</th>
        <th>Lama Peminjaman</th>
        <th>Konfirmasi</th>
    </tr>
    @if(Orders.Count > 0)
    {
        @foreach (Order order in Orders)
        {
            <td>@order.Id</td>
            <td>@order.Car!.Brand</td>
            <td>@order.FullName</td>
            <td>@order.ContactNumber</td>
            <td>
            <button
                class="btn btn-primary"
                @onclick="@( eventArgs => ShowTKP(order))">
                Tampilkan
            </button>
            </td>
            <td>@order.DateDepart</td>
            <td>@order.DateReturn</td>
            <td>@order.RentDuration Hari</td>
            <td>
                <button
                    class="btn btn-warning">
                    Konfrimasi
                </button>
            </td>
        }
    }

    </table>
</div>

@if(image is not null)
{
    <img src="/images/ktp/@image" alt="">
}

@code{
    #nullable disable
    protected List<Order> Orders = new List<Order>();

    private string image { get; set; }

    protected override void OnInitialized()
    {
        Orders = AppDbContext.Orders.ToList();
        this.StateHasChanged();
    }

    protected void ShowTKP(Order order)
    {
        image = order.KTP;
        System.Console.WriteLine(image);
        this.StateHasChanged();
    }


    protected Car GetCar(int carId)
    {
        var(car, status) = AppDbContext.GetCar(carId);
        return car;
    }
}